
<script>
$(function () {
    var d = '<%= raw @data_type_expense%>';
    console.log(d);


    $('#treemapchart').highcharts({
        colorAxis: {
            minColor: '#FFFFFF',
            maxColor: '#FF7600'//Highcharts.getOptions().colors[0]
        },
        series: [{
            type: "treemap",
            layoutAlgorithm: 'squarified',
            data: JSON.parse('<%= raw @data_type_expense%>')
        }],
        title: {
            text: 'Gastos por federação'
        }
    });
});

$(document).ready(function(){
    var real_expense = '<%= raw @expense_type_find %>';
    
    if( real_expense != 0 ){
        $('.msg_error').remove();
    }else{
        setTimeout(function(){
            $('.msg_error').remove();
        }, 5000);
    }
 });

</script>
<!--Message that's show every messages of erro.-->
<% flash.each do |name, msg| %>
    <div class="msg_error">
        <i class="fa fa-warning"></i>
        <%= msg %>
    </div>
<% end %>
<div id="combobox">
<div id="select_box">
<%= form_tag  filter_type_expense_path , method: 'get' do %>
     <!-- <%= hidden_field_tag :id, params[:id]%> -->
     <%= select_tag :year, options_for_select([["2015"],["2014"],["2013"],["2012"],["2011"]]), prompt: "Escolha um ano..." %>
     <%= select_tag :month, options_for_select([["Todos"],["Janeiro"],["Fevereiro"],["Março"],["Abril"],["Maio"],["Junho"],["Julho"],["Agosto"],["Setembro"],["Outubro"],["Novembro"],["Dezembro"]]), prompt: "Escolha um mês..." %>
    <%= submit_tag 'Filtrar' %>
<% end %>
<%= form_tag  filter_type_expense_path , method: 'get' do %>
     <%= hidden_field_tag :year, "Todos" %>
     <%= hidden_field_tag :month, "Todos" %>
    <%= submit_tag 'Todos' %>
<% end %>
</div>
</div>

<div id="treemapchart">
</div>