<%= provide(:title, "Orgao Publico") %>
<p>

<header class="codrops-header">
  <h1 style="padding-top: 30px;"><%= link_to @superior_public_agency.name.downcase.split.map(&:capitalize).join(' '), superior_path(@superior_public_agency) %><span id="surprise"><%= @public_agency.name.downcase.capitalize %></span></h1>
</header>



<script type="text/javascript">

var WAVES = ['waves-red','waves-yellow','waves-orange','waves-purple','waves-green','waves-teal']
  $('#surprise').dblclick(function(){
      $('#haha').show();
      setTimeout(function(){
        $('#haha').hide();
      },6000);
  });
  var count =0;
  function haha(){    
    $('#haha').removeClass(WAVES[count++%7]);
    $('#haha').addClass(WAVES[count%7]);
  }
</script>

<div class="container">
  <button id='haha' class='btn waves-effect' onclick="haha()" style='background: white; color:black; width:200px; height:50px; display:none;'>Surpreenda-me</button>
</div>
  
<div id="contencao_outros">
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class='collapsible-header' style='background:#FF8F2F;' onclick='setChart("<%= public_agency_chart_path %>",AGENCY,drawAgency)'><i class="material-icons">money_off</i>Gastos</div>
        <div class='collapsible-body'>
          <div class="filter" id="public_agency"></div>
          <div class="chart" id="public_agency" ><!--style="height:auto; margin-right:auto;  margin-left:auto;"> -->
            <div class="z-depth-3"><!-- style="width:auto; margin-right:auto;  margin-left:auto;">-->
                
            </div>
            <center>
              <a class="waves-effect waves-light btn modal-trigger" href="#modal1" style="width:980px; margin-top:20px;">Filtragem</a>
            </center>
          </div>
        </div>
      </li>
      <p></p>
      <li>
        <div class="collapsible-header" style="background:#FF8F2F;"onclick='setChart("<%= programs_path %>",PROGRAM,drawProgram)'><!--<i class="material-icons">assessment</i>--><i class="material-icons">assignment</i>Programas</div>
        <div class="collapsible-body">
            <div class="filter" id="program"></div>
            <div class="chart" id="program"></div>
            <center>
              <div class="collection list" id='program'></div>  
            </center>
          <div class="col s6 m5">
            <div class="card-panel orange" style="margin:10px;">         
                <span class="white-text">
                  <b>Descrição do gráfico:</b>
                  Eu sou a descrição do gráfico do programa!
                </span>
              </div>
           </div>
     
        </div>
      </li>
      <p></p>
      <li>
          <div class="collapsible-header" style="background:#FF8F2F;" onclick="setChart('<%= companies_path%>',COMPANY,drawCompany)"><i class="material-icons">business</i>Empresas</div>
          <div class="collapsible-body">
            <div class="filter" id="company"></div>
            <div class="chart" id="company"></div>
            <center>
              <div class="collection list" id='company'></div>
            </center>
            <div class="col s6 m5">
            <div class="card-panel orange" style="margin:10px;">         
                <span class="white-text">
                  <b>Descrição do gráfico:</b>
                  Sou a descrição do gráfico
                </span>
              </div>
           </div>
     
          </div>
      </li>
          <p></p>
      <li>
          <div class="collapsible-header" style="background:#FF8F2F;" onclick='setChart("<%= type_expense_path %>",TYPE,drawTypeExpense)'>
              <i class="material-icons">assignment_late</i>Gastos por tipo
          </div>
          <div class="collapsible-body">
            <div class="filter" id="type_expense"></div>
            <div class="chart" id="type_expense"></div>
            <center>
              <div class="collection list" id='type_expense'></div>
            </center>
            <div class="col s6 m5">
            <div class="card-panel orange" style="margin:10px;">         
                <span class="white-text">
                  <b>Descrição do gráfico:</b>
                  Eu sou outra descrição de gráfico
                </span>
              </div>
           </div>
     
          </div>
      </li>
      <p></p>
      <li>
          <div class="collapsible-header" style="background:#FF8F2F;" onclick='setChart("<%= budget_path %>",BUDGET,drawBudget)'><!--<i class="material-icons">assignment_late</i>--><i class="material-icons">attach_money</i>Orcamento</div>
          <div class="collapsible-body">
            <div class="filter" id="budget"></div>
            <div class="chart" id="budget"></div>
            <div class="col s6 m5">
              <div class="card-panel orange" style="margin:10px;">         
                <span class="white-text">
                  <b>Descrição do gráfico:</b>
                  Eu sou outra descrição de gráfico
                </span>
              </div>
           </div>
          </div>
      </li>
    </ul>
</div>
