<header class="codrops-header">
	<h1>Gastos da Federação por função</h1>
</header>

<div class="z-depth-4" style="width:960px; margin-right:auto;  margin-left:auto;">
  	<%= render 'chart_function' %>
</div>


<div id = 'removed_chart_elements_container'>
	<center>
		<h4>
			<ul id="removed_chart_elements"></ul>
		</h4>
	</center>
</div>

  <!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">	
	<div id="combobox_function" style="width:960px;  margin-right:auto;  margin-left:auto;">
		<%= form_tag functions_filter_path , method: 'get' do %>
     	<!-- <%= hidden_field_tag :id, params[:id]%> -->
     	<%= select_tag :year, options_for_select([["Até hoje!"],["2015"],["2014"],["2013"],["2012"],["2011"]]) %>
	     <%= select_tag :month, options_for_select([["Todos"],["Janeiro"],["Fevereiro"],["Março"],["Abril"],["Maio"],["Junho"],["Julho"],["Agosto"],["Setembro"],["Outubro"],["Novembro"],["Dezembro"]])%> 
<!--Confirmar se funciona-->
    	<button class="btn waves-effect waves-light type="submit" name="action id ="top_10" value="Top10" onclick="select_top_10()">Filtrar
    		<i class="material-icons right">send</i>
		</button>
		<% end %>
	</div>
  </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
      
<div class="z-depth-4" style="width:960px; margin-right:auto; margin-left:auto; margin-bottom:50px;">
<button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Filtre o Top10 dos gastos da federação" type="submit" name="action id ="top_10" "value="Top10" onclick="select_top_10()">Top 10
    <i class="material-icons right">send</i>
</button>

<button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Visualize o gráfico em sua forma padrão" type="submit" name="action" id="Default" value="Padrão" onclick="select_default()">Padrão<i class="material-icons right">send</i>
</button>

<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

</div>   