<% provide(:title,"Inicial") %>
<!DOCTYPE html>
<html>
<head>
  <title>Aonde</title>
</head>
<body>


<div id="government_spending">
    <div id="video">
      <%= link_to image_tag("dados_abertos.jpg")%>
    </div>
    <div id="info">
      <h1> Acompanhe os gastos dos Órgãos Públicos </h1>
      <h2>Com o Aondê é possível visualizar o orçamento dos Órgãos 
      Públicos Federais e comparar com as despesas realizadas 
      advindas do Portal da transparência.</h2>
    </div>
</div>

<div id="free">
  <div class="container">
   <div class="row">
    <h3>Fale Conosco</h3>
    Você pode nos enviar um e-mail com suas dúvidas, críticas, 
    sugestões ou comentários.<p></p>
    Preencha os campos abaixo:
    <form class="col" onsubmit="return sendEmail('<%= contact_path %>')">
        <div class="input-field col s12">
          <%= email_field_tag :from, params[:from]%>
          <label for="email" data-error="wrong" data-success="right">E-mail</label>
        </div>
        <div class="input-field col s12">
          <%= text_field_tag :subject, params[:subject]%>
          <label for="icon_prefix">Assunto</label>
        </div>
        <div class="input-field col s12">
           <textarea id="textarea1" class="materialize-textarea" length="500"<%= text_area_tag :text%></textarea>
           <label for="textarea1">Texto</label>
      </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" style="margin-top:25px;float:right; background:#006699">Enviar
        <i class="material-icons right">email</i>
      </button>
    </form>
  </div>
  </div>
</div>

<!-- Modal for error in send email -->
  <a id='error_field_contact' href="#error_send" class="modal-trigger"></a>

  <div id="error_send" class="modal">
    <div class="modal-content" id="message_error_field"></div>
    <div class="modal-footer">
      <a id='error_search_close' href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>
</div>

<footer></footer>

</body>
</html>
