<% provide(:title,"Inicial") %>
<!DOCTYPE html>
<html>
<head>
  <title>Aonde</title>
</head>
<body>


<div id="government_spending">
  <div class="container">
    <div id="video" style="width:auto; height:300px; border:3px solid #603813;"></div>
  </div>
</div>

<div id="explanation_public_agencies">
  <div class="container">
    <div id="information_public_agency" style="width:auto; height:300px; border:3px solid #603813; margin-bottom:15px; margin-top:25px;"></div>
    <center><a class="waves-effect waves-light btn orange" <%= link_to 'Acessar', public_agency_list_path %></a></center>
  </div>
</div>

<div id="explanation_function">
  <div class="container">
    <div id="information_function" style="width:auto; height:300px; border:3px solid #603813; margin-bottom:15px; margin-top:25px;"></div>
    <center><a class="waves-effect waves-light btn orange" <%= link_to 'Acessar', functions_path %></a></center>
  </div>
</div>

<div id="free">
  <div class="container">
   <div class="row">
    <form class="col" action="<%= contact_path %>" method="post">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <%= text_field_tag :subject, params[:subject]%>
          <label for="icon_prefix">Assunto</label>
        </div>
        <div class="input-field col s6">
           <%= email_field_tag :from, params[:from]%>
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
        <div class="input-field col s12">
           <textarea id="textarea1" class="materialize-textarea" length="500"<%= text_area_tag :text, params[:text]%></textarea>
           <label for="textarea1">Texto</label>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">email</i>
      </button>
    </form>
  </div>
  </div>
</div>

</div>
<footer></footer>

</body>
</html>
