<!DOCTYPE html>
<html>
<head>
  <title> 
  	<%= full_title(yield(:title)) %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--Isso é o header ou seja onde ficara a logo -->
  <div class="container">
    <div class="head-container">
      <div id="head-page">
  		  <img src="assets/images.jpeg">
  	  </div>
  	  <div id="name-application">
  	    AondE  
      </div>  
    </div>
        <div id="cssmenu">
    <ul>
        <li class='active'><a href='#'>Home</a></li>
        <li><a href='#'>Órgãos Públicos</a></li>  
    </ul>
    </div>
    <!--Isso é o menu -->
    <!--<div class="navbar navbar-fixed-botton">
      <div class="container">
	    <nav>
	  	  <ul class="nav navbar-nav navbar-rigth">
	  	    <li>
	  	  	  <%= link_to "Home", root_path %>
	  	    </li>
	  	    <li>
	  		  <%= link_to "Orgaos Publicos", '#' %>
	  	    </li>
	  	  </ul>
     </nav>
	  </div>
    </div>    -->
    <!--Marcelo -->
    <div class="content-container">
      <%= yield %>
    </div>
    <!--Isso é o rodape  -->
    <div class="footer-container">
      <div id="developer">
        Desenvolvedores: Arthur,Artur,Eduardo,João,Marcelo,Matheus<br>
      </div>
    </div>
  </div>  
</body>
</html>
