<!DOCTYPE html>
<html>
<head>
  <title> 
  	<%= full_title(yield(:title)) %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Isso é o header ou seja onde ficara a logo -->
    <div id="headLogo">
      (Imagem)
    </div>
<div class="container">
<!--Isso é o menu -->
    <div id="cssmenu">
      <ul>
        <li class='active'><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Órgãos Públicos', public_agency_list_path %></li>  
        <div class="box">
          <div class="container-4">
            <input type="search" id="search" placeholder="Pesquisa" />
            <button class="icon"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </ul>
    </div>

<!--Marcelo -->
    <div class="content-container">
      <%= yield %>
    </div>
  </div> 
<!--Isso é o rodape  --> 
  <div class="footer-container">
      <div class="util_link">
        <ul>
          <li>Links Úteis:  </li>
          <li><a href="#" class="util_link">Portal FGA</a></li>
          <li>  |  </li>
          <li><a href="#" class="util_link">Wiki</a></li>
          <li>  |  </li>
          <li><a href="#" class="util_link">GitHub</a></li>
          <li>  |  </li>
          <li><a href="#" class="util_link">Portal da Transparência</a></li>
        </ul> 
      </div>
    </div>
</body>
</html>
