<!DOCTYPE html>
<html>
<head>
  <title> 
  	<%= full_title(yield(:title)) %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :css %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--Isso é o header ou seja onde ficara a logo -->
<!--div class="container"-->
      <div id="headLogo">
        Ola
      </div>
<!--Isso é o menu -->
    <div id="cssmenu">
      <ul>
        <li class='active'><a href='welcome/index'>Home</a></li>
        <li><a href='public_agency/list'>Órgãos Públicos</a></li>  
      </ul>
    </div>

<!--Marcelo -->
    <div class="content-container">
      <%= yield %>
    </div>
  <!--/div--> 
<!--Isso é o rodape  --> 
  <div class="footer-container">
           
    </div>
</body>
</html>
