<div class="content_header">

  <h4>Ajuda</h4>
  <h6>
   <span>Descrição de todo o Aondê   </span> 
  </h6> 

</div>

<div class="conteiner_help">

  <h3> Como surgiu o Aondê? </h3>
    
    <p>Aondê é um projeto fruto da interação entre duas disciplinas do curso de Engenharia de Software da Universidade de Brasília (UnB), Faculdade do Gama (FGA).
    <br>
  
    <p>Os integrantes da disciplina de Gestão de Portifólios e Projetos de Software (GPP) atuaram na gerência do projeto Aondê, enquanto os membros da disciplina de Métodos de Desenvolvimento de Software (MDS) atuaram como desenvolvedores.

  <h3> Qual o objetivo do Aondê? </h3>
    
    <p>O objetivo do Aondê é tornar as informações disponibilizadas pelo Portal da Transparência e do orçamento.dados.gov.br de mais fácil acesso e leitura para a população brasileira, que tem o direito de fiscalizar e acompanhar como e onde o Governo Federal está investindo seus recursos.<br>
    
    <p>Estas informações podem ser acessadas por qualquer cidadão devido a lei de acesso a informação (Nº 12.527), que determina que sejam disponibilizadas informações sobre a execução orçamentária e financeira da União, dos Estados, do Distrito Federal e dos Municípios.
    
  <h3> Mas por que Aondê? </h3>
        
    <p>Em tupi-guarani, Aondê significa coruja, que é o nosso mascote.<br> 

    <p>Mas por que coruja? A coruja é símbolo de conhecimento e sabedoria. É capaz de enxergar na escuridão e tem visão de longo alcance.<br> 

    <p>Todas essas características estão relacionadas ao que queremos que nossos usuários obtenham: conhecimento e visão da destinação dada aos recursos da federação.  

  <h3> O que posso encontrar no Aondê? </h3>
  
    <ul class="collection">
      <li class="collection-item">Lista de Órgãos Públicos</li>
      Clicando em um dos órgãos da lista de órgãos públicos é possível explorar as informações abaixo:
    </ul> 

    <ul class="collection">  
      <li class="collection-item">Gastos do Órgão Público</li>
      Analise o quanto foi gasto pelo órgão público em um determinado período.<br>

      <li class="collection-item">Programas relacionados ao Órgão Público</li>
      Veja em quais programas um órgão público investiu.<br>

      <li>Empresas relacionadas ao órgão público</li>
      Veja quais empresas foram contratadas por um órgão público específico.<br>

      <li class="collection-item">Gastos detalhados por tipo de despesa</li>
      Visualize os gastos de um órgão público organizados por tipo de despesa.<br>

      <li class="collection-item">Orçamento do Órgão Público</li>
      Compare os orçamentos dos órgãos públicos com seus gastos.<br>

      <li class="collection-item">Gastos da Federação por Função</li>
      Verifique em quais áreas da federação estão sendo investidos mais recursos.<br>

      <li class="collection-item">Orgãos Superiores</li>
      Veja os órgãos públicos pertencentes a um órgão superior.<br>

      <li class="collection-item">Compartilhamento via Facebook</li>
      Compartilhe informações do Aondê em sua rede social.
    </ul>

  <h3> Mais informações do Aondê </h3>

    <p class="help_text">
      Mais informações relacionadas ao projeto Aondê podem ser encontradas nos links abaixo:

      <p></p>
      <%= link_to image_tag('orcamentogov.png'), "http://orcamento.dados.gov.br"%>
      <%= link_to image_tag('fga.jpg'), "https://fga.unb.br/" %>
      <%= link_to image_tag('github.png'), "https://github.com/GPP-MDS-2015-2/Aonde" %>
      <%= link_to image_tag('wiki.png'), "http://lappis.unb.br/redm/projects/grupo-5-portal-da-transparencia/wiki"%>
      <%= link_to image_tag('dados_abertos.jpg'), "http://www.portaltransparencia.gov.br/downloads/mensal.asp?c=GastosDiretos" %>
      <p></p>

    </p>

  <h3> Informações da Equipe </h3>
   
    <ul class="collection">
      <li class="collection-item">Equipe de Gerência - Integrantes de GPP:</li>
      <li>Attany Araújo - nathalyaraujoo@gmail.com</li>
      <li>Ebenezer Andrade - ebenezer.andrade1@gmail</li>
      <li>Eduardo Moreira - duduhfm@gmail.com</li>
      <li>Gabriel Silva - gabriel93.silva@gmail.com</li>
      <li>Jonathan Rufino - jonathan.rufinotkd@gmail.com</li>
    </ul>

    <ul class="collection">
      <li class="collection-item">Equipe de Desenvolvimento - Integrantes de MDS:</li>
      <li>Arthur Temporim - arthurrtl@gmail.com</li>
      <li>Artur Bersan - arturbersan@gmail.com</li>
      <li>Eduardo Nunes - eduardonunes2525@gmail.com</li>
      <li>João Paulo Busche - joaopaulo.busche@gmail.com</li>
      <li>Marcelo Ferreira - marcelohpf@gmail.com</li>
      <li>Matheus Miranda - matheus-m-ml@hotmail.com</li>
    </ul>
            
</div>