<!DOCTYPE html>
<html>
<head>
<%=favicon_link_tag%>
  <title> 
    <%= full_title(yield(:title)) %>
  </title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js" %>
  <%= stylesheet_link_tag "http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "http://code.jquery.com/ui/1.11.4/jquery-ui.js" %>

  <%= yield :css %>
  <%= csrf_meta_tags %>
      
</head>
<body>
  <!--This part is to menu-->
  <div id="content_menu">
    <div class="container" style="width:auto;">
      <div id="menu_index">
        <ul>
          <li><%= link_to '(Imagem) AondÊ', root_path %></li>
          <li class='active'><%= link_to 'Órgãos Públicos', public_agency_list_path %></li>  
          <li><%= link_to 'Gasto por Função', functions_path %></li>
  <!--Search field-->
          <li>
            <form id='search_bar' name='search' onsubmit="return validSearch()" action="<%= search_path %>" style="width:300px; height:80px; margin-left: 52%;">
              <div class="input-field" style=" width:270px; margin-right:auto;">
                <i class="material-icons prefix">search</i>
                <input name="search" type="text" autocomplete="off" required<%= text_field_tag :search, params[:search]%>
                <label for="icon_prefix">Pesquisar...</label>
              </div>
              </div>
            </form> 
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!--Modal where make error message to search-->
  <a id='error_search_link' href="#error_search" class="modal-trigger"></a>

  <div id="error_search" class="modal">
    <div class="modal-content">Por favor, digite uma palavra chave maior</div>
    <div class="modal-footer">
      <a id='error_search_close' href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>
<!--Container to render-->
<div class="container">     
    <%= yield %>
</div> 
 <footer></footer>
    </body>
</html>