<!DOCTYPE html>
<html>
	<head>
	    <!--Import Google Icon Font-->
	    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <!--Reference to menu-->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		
		
	</head>
	<body>
	<div id="hahaBoom" style="background: dark-gray;z-index: 1;position:absolute;"></div>
		<!--This part is to menu-->
		<div id="content_menu">
		  <div class="container" style="width:auto; height:60px;">
		    <div id="menu_index">
		       <div class="logo"> <%= link_to image_tag("logo_aonde.png"), root_path%> </div>
		      <ul>
		        <li><%= link_to 'Órgãos Públicos', public_agency_list_path %></li>  
		        <li><%= link_to 'Gasto por Função', functions_path %></li>
		        <li><%= link_to 'Ajuda', root_path %></li>
		<!--Search field-->
		        <li>
		          <form id='search_bar' name='search' onsubmit="return validSearch()" action="<%= search_path %>">
		            <div class="input-field">
		              <input name="search" type="text" placeholder="Pesquisar..." autocomplete="off" required<%= text_field_tag :search, params[:search]%>
		            </div>
		          </form> 
		          		              <!--<i class="material-icons prefix">search</i>-->
		        </li>
		      </ul>
		    </div>
		  </div>
		</div>
		<%=yield%>
	</body>
</html>